body{
    background-color: #F2D5D5;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    
}

.nav-right-section .menu{
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 20px;
    height: 20px;
    background-size: contain;
}


header nav{
    /*Justifica a la derecha*/
    display: flex;
    justify-content: flex-end;
    
}


header nav .nav-right-section{
    width: 20%;
    list-style: none;
    /*Flex nos deja mover las cosas de lugar*/
    display: flex;
    align-items: center;
    height: auto;

}

a{
    text-decoration-line: none;
}

.nav-right-section a{
    margin-right: 25px;
    color: rgba(0,0,0,.87);

}
.nav-right-section img{
    width: 30px;
    height: 30px;
    margin-left: 20px;
    border-radius: 38px;

}

main{
    margin-top: 1%;
    text-align: center;
}


main .logo-google{
    width: 35%;   
}



main .main-input-container{
    border: 1px solid rgba(208,109,109);
    width: 45%;
    border-radius: 30px;
    margin: 0 auto;
    background-color: white;
    
    
}

main .main-input input{
    border: none;
    background-color: white;
    align-items: start;

}

main .main-input-container:hover{
    border-color: rgb(166, 81, 81);
    box-shadow: 1px 1px 1px 1px rgb(166, 81, 81);
    
}


main .search-display {
    width: 50%;
    margin: auto;
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px #dadce0 solid;
    align-items: start;
    
    
    
}

main .search-box {
    display: flex;
    width: 50px;
    max-width: 100px;
    margin: auto;   
    
  }

main .search-box input {
    outline: none;
    border: 0;
    margin-left: 10px;
    margin-right: 10px;
    align-items: start;
    border: none;
    
  }
  main .search-display looker {
    display: block;
        margin-left:auto;
        margin-right: auto;
  }
 
  main .search-display mic-icon {
    margin: auto;
    align-items: end;

  }
  main .search-display cam-icon {
    margin: auto;
    align-items: end;

  }
  


main .main-buttons{
    width: 45%;
    margin: 0 auto;
}
main .main-buttons div{
    display: inline-block;
    padding-top: 6%;
    
}

main .main-buttons button{
    background-color: #efc8c8;
    border: none;
    color: rgb(166, 81, 81);
    font-size: 100%;
    margin: auto;
    height: 14%;
    border-radius: 4px;
    padding: 0 15px;
    margin-right: 15px;
}

main .main-buttons button:hover{
    border-color: rgb(166, 81, 81);
    box-shadow: 1px 1px 1px 1px rgb(166, 81, 81);
}

footer {
    background-color: #efc8c8e2;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
  }

  footer a {
    color: rgb(166, 81, 81);
    text-decoration: none;
    margin: 0 10px;
    
    
  }

  footer a:hover {
    text-decoration: underline;
  }